<doctype html>


     

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNavBar">
  <a class="navbar-brand" href="#">ESPN Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                   <a class="nav-link" id="homeLink" href="/">HOME</a></li>
                <li class="nav-item">
                    <a class="nav-link" id="savedLink" href="/view_articles">VIEW ARTICLES</a>
                </li>
                <li class="nav-item">
                    <button class="btn nav-link" id="scrape">SCRAPE ARTICLES</button>
                </li>
                <li class="nav-item">
                    <button class="btn nav-link" id="clear">CLEAR ARTICLES</button>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- Header -->
<header class="masthead">
    <div class="container-fluid">
        <div class="intro">
            <h1>ESPN Sports</h1>
            <h2>Mongo DB Scraper</h2>
        </div>
    </div>
</header>

<style>
      body { background-color: white; }
      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      #articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
      }
      #notes {
        float: right;
        width: 30%;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div id="articles"></div>
      <div id="notes"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>


    
  </body>




































</doctype>